{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id="form-second" action='{{ path("submission_new_second_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-second-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Institutional Review{% endtrans %}</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <h4>{% trans %}Welcome, please take a moment to review the following requirements{% endtrans %}</h4>
                            <p>{% trans %}In this step, you will be requested to submit information about your institution that will remain confidential and shared only with PAHO’s Legal Office for review as per PAHO’s normative regarding engagements with Non-State Actors.{% endtrans %}</p>
                            <p>{% trans %}For more information about this process, please refer to the{% endtrans %} <a href="https://apps.who.int/iris/bitstream/handle/10665/329431/9789241565608-eng.pdf?sequence=1&isAllowed=y" target="_blank">{% trans %}Handbook For NonState Actors on Engagement with the World Health Organization{% endtrans %}</a>.</p>
                        </div>
                    </div>
                </div>

                <hr />

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h4>{% trans %}Information Requested from Non-State Actors for Engagement with PAHO/WHO{% endtrans %}</h4>
                            <p>{% trans %}*Please upload the form using the New Attachment button{% endtrans %}</p>
                            <p>{% trans %}Download the form here:{% endtrans %} <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/fensa-eng.pdf" target="_blank">{% trans %}English{% endtrans %}</a>, <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/fensa-esp.pdf" target="_blank">{% trans %}Español{% endtrans %}</a>, <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/fensa-por.pdf" target="_blank">{% trans %}Português{% endtrans %}</a></p>
                            <p>{% trans %}The system only allows a single PDF document to be uploaded. Please merge the form with all the required attachments into a single document.{% endtrans %}</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed table-attachment'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}View{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments if file.uploadType.slug in ['fensa'] %}
                                            <tr>
                                                <td>{{ file }}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment"><i class='glyphicon glyphicon-trash'></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>

                            <a href='#' class='btn btn-default btn-modal' data-toggle="modal" data-target="#modal-new-file" data-upload-type='fensa' {% if fensa_upload|length > 0 %}disabled{% endif %}>{% trans %}New Attachment{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <hr />

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h4>{% trans %}Upload the Tobacco / Arms related disclosure statement for Non-State Actors{% endtrans %}</h4>
                            <p>{% trans %}*Please upload the form using the New Attachment button{% endtrans %}</p>
                            <p>{% trans %}Download the form here:{% endtrans %} <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/tobaccoarms-eng.pdf" target="_blank">{% trans %}English{% endtrans %}</a>, <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/tobaccoarms-esp.pdf" target="_blank">{% trans %}Español{% endtrans %}</a>, <a href="https://admin.bestpractices.bvsalud.org/uploads/documents/tobaccoarms-por.pdf" target="_blank">{% trans %}Português{% endtrans %}</a></p>
                            <p>{% trans %}The system only allows a single PDF document to be uploaded. Please merge the form with all the required attachments into a single document.{% endtrans %}</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed table-attachment'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}View{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments if file.uploadType.slug in ['fensa-tobacco-arms'] %}
                                            <tr>
                                                <td>{{ file }}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment"><i class='glyphicon glyphicon-trash'></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>

                            <a href='#' class='btn btn-default btn-modal' data-toggle="modal" data-target="#modal-new-file" data-upload-type='fensa-tobacco-arms' {% if tobacco_arms_upload|length > 0 %}disabled{% endif %}>{% trans %}New Attachment{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <hr />

                <div class='row top-buffer bottom-buffer'>
                    <div class="col-md-12">*{% trans %}Mandatory fields{% endtrans %}</div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Arquivo -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data" action="{{ path("submission_new_second_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-second-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />
                <input type='hidden' id="hidden-upload-type" name='upload_type' value=''>

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-attachment-file">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-attachment-file' id='input-new-attachment-file' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment' action="{{ path("submission_new_second_step", {submission_id: submission.id}) }}">
                
                <input type="hidden" name="token" value="{{ csrf_token('submission-second-step') }}"/>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $(".table-attachment").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $(".btn-modal").on("click", function(e){
                var upload_type = $(this).data('upload-type');
                $("#hidden-upload-type").val(upload_type);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function () {
                $("#hidden-delete-attachment").val("");
            });

            $('#modal-new-file').on('hidden.bs.modal', function () {
                $("#hidden-upload-type").val("");
            });
        });
    </script>
{% endblock %}
