{% extends "::base.html.twig" %}

{% block title %}{% trans %}Basic Screening{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Basic Screening{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            
            <input type="hidden" name="token" value="{{ csrf_token('analyze-protocol') }}"/>
            <input type="hidden" id="input-is-reject" name="is-reject" value="true">
            <input type="hidden" id="input-send-to" name="send-to" value="">
            
            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Actions{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class='radio'>
                                <label for="input-approved-submission">
                                    <input type='radio' id='input-approved-submission' name='action' value='E' /> {% trans %}Approved{% endtrans %}
                                    <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 129} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                </label> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class='radio'>
                                <label for="input-accept-submission">
                                    <input type='radio' id='input-accept-submission' name='action' value='C' /> {% trans %}Revisions required{% endtrans %}
                                    <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 129} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                </label> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class='radio'>
                                <label for="input-reject-submission">
                                    <input type='radio' id='input-reject-submission' name='action' value='N' /> {% trans %}Rejected{% endtrans %}
                                    <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 127} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                </label> 
                            </div>
                        </div>

                        <div class="form-group" id='group-approved-submission'>
                            <label for="textarea-notes">{% trans %}Comments{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 128} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class="form-control" id="textarea-notes" name='notes'></textarea>
                        </div>
                        
                        <div class="form-group" id='group-reject-submission'>
                            <label for="textarea-reject-reason">{% trans %}Reject reasons{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 128} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class="form-control" id="textarea-reject-reason" name='reject-reason'></textarea>
                        </div>

                        <div class="form-group" id='group-return-submission'>
                            <label for="textarea-return-reason">{% trans %}Return reasons{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 128} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class="form-control" id="textarea-return-reason" name='return-reason'></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="button" class='btn btn-primary' id='button-approved-submission'>{% trans %}Send to review{% endtrans %}</button>
                    <button type="button" class='btn btn-primary' id='button-accept-submission'>{% trans %}Send back to Submitter{% endtrans %}</button>
                    <button type="button" class='btn btn-danger' id='button-reject-submission' data-toggle='modal' data-target='#modal-reject'>{% trans %}Reject submission{% endtrans %}</button>
                    <!-- <button class='btn btn-primary' id='button-send-to-committee'>{% trans %}Send to committee to decide{% endtrans %}</button> -->
                </div>
            </div>
        </form>
        
    </div>

    <!-- Modal confirm -->
    <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to end this protocol evaluation?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-success" id='notification-submit'>{% trans %}Confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reject Submission -->
    <div class="modal fade" id="modal-reject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Reject Submission?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to reject this submission?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-danger" id='notification-reject'>{% trans %}Reject{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            
            $("[id^=button-]").hide();
            $("[id^=group-]").hide();

            $("#form-action input[name='action']").on('ifChanged', function(){
                var id = $(this).attr('id');
                if(id.search("reject") >= 0) reject();
                if(id.search("accept") >= 0) accept();
                if(id.search("approved") >= 0) approved();
            });
            
            $("body").on("click", "#button-approved-submission", function(e){
                $("#input-send-to").val('revision');
                $("#input-is-reject").val('false');
                $("#form-action").submit();
            });

            $("body").on("click", "#button-accept-submission", function(e){
                $("#input-send-to").val('submitter');
                $("#input-is-reject").val('false');
                $("#form-action").submit();
            });

            $("body").on("click", "#notification-reject", function(e){
                $("#form-action").submit();
            });
        });

        function reject() {
            $("#group-reject-submission").show();
            $("#button-reject-submission").show();

            $("#textarea-notes").prop('required', false);
            $("#textarea-reject-reason").prop('required', true);
            $("#textarea-return-reason").prop('required', false);

            $("#group-approved-submission").hide();
            $("#group-return-submission").hide();
            $("#button-approved-submission").hide();
            $("#button-accept-submission").hide();
        }

        function accept() {
            $("#group-reject-submission").hide();
            $("#button-reject-submission").hide();

            $("#textarea-notes").prop('required', false);
            $("#textarea-reject-reason").prop('required', false);
            $("#textarea-return-reason").prop('required', true);

            $("#group-approved-submission").hide();
            $("#group-return-submission").show();
            $("#button-approved-submission").hide();
            $("#button-accept-submission").show();
        }

        function approved() {
            $("#group-reject-submission").hide();
            $("#button-reject-submission").hide();
            
            $("#textarea-notes").prop('required', true);
            $("#textarea-reject-reason").prop('required', false);
            $("#textarea-return-reason").prop('required', false);

            $("#group-approved-submission").show();
            $("#group-return-submission").hide();
            $("#button-approved-submission").show();
            $("#button-accept-submission").hide();
        }
    </script>
{% endblock %}
