<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}Revision{% endtrans %}</h4>
</div>
<div class="modal-body">

    <h5>{% trans %}Effectiveness{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.effectivenessScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.effectivenessRevisions|nl2br }}</p>

    <h5>{% trans %}Cost-Effectiveness{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.costEffectivenessScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.costEffectivenessRevisions|nl2br }}</p>

    <h5>{% trans %}Efficiency{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.efficiencyScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.efficiencyRevisions|nl2br }}</p>

    <h5>{% trans %}Sustainability{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.sustainabilityScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.sustainabilityRevisions|nl2br }}</p>

    <h5>{% trans %}Replicability{% endtrans %}/{% trans %}Adaptability{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.replicabilityAdaptabilityScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.replicabilityAdaptabilityRevisions|nl2br }}</p>

    <h5>{% trans %}Innovation{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.innovationScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.innovationRevisions|nl2br }}</p>

    <h5>{% trans %}Participation{% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.participationScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.participationRevisions|nl2br }}</p>

    <h5>{% trans %}Focus on Cross-Cutting Themes{% endtrans %} {% trans %}(equity, gender, ethnicity, and human rights){% endtrans %}</h5>
    <p><b>{% trans %}Scoring{% endtrans %}:</b> {{ protocol_revision.crossCuttingThemesScoring }} {% trans %}Points{% endtrans %}</p>
    <p><b>{% trans %}Feedback{% endtrans %}:</b> {{ protocol_revision.crossCuttingThemesRevisions|nl2br }}</p>

    <h5>{% trans %}Average score{% endtrans %}</h5>
    <p>{{ protocol_revision.averageScore }} {% trans %}Points{% endtrans %}</p>

    <h5>{% trans %}Decision{% endtrans %}</h5>
    <p>{{ protocol_revision.decisionLabel|trans }}</p>

    {% if protocol_revision.otherComments %}
        <h5>{% trans %}Decision Rationale{% endtrans %}/{% trans %}Comments{% endtrans %}</h5>
        <p>{{ protocol_revision.otherComments|nl2br }}</p>
    {% endif %}
</div>

<div class="modal-footer">
    <a href='{{ path("protocol_generate_review_pdf", {protocol_id: protocol_revision.protocol.id, protocol_revision_id: protocol_revision.id}) }}' class='btn btn-primary pull-left' target='_blank'>{% trans %}Create PDF{% endtrans %}</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
</div>
